<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zly.site.dao.AllEmailSendExtMapper">
  <resultMap id="BaseResultMap" type="com.zly.site.model.AllEmailSend">
    <result column="email_to" jdbcType="VARCHAR" property="emailTo" />
    <result column="email_from" jdbcType="VARCHAR" property="emailFrom" />
  </resultMap>
  <select id="selectAllLink" resultType="java.util.HashMap">
  select * from allemail_send;
  </select>
</mapper>