<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zly.site.dao.AllEmailCompanyMapper">
  <resultMap id="BaseResultMap" type="com.zly.site.model.AllEmailCompany">
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <insert id="insert" parameterType="com.zly.site.model.AllEmailCompany">
    insert into allemail_company (num, email)
    values (#{num,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zly.site.model.AllEmailCompany">
    insert into allemail_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="num != null">
        num,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>