<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zly.site.dao.CompanyEmailMapper">
  <resultMap id="BaseResultMap" type="com.zly.site.model.CompanyEmail">
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="proto" jdbcType="VARCHAR" property="proto" />
    <result column="sip" jdbcType="VARCHAR" property="sip" />
    <result column="sport" jdbcType="VARCHAR" property="sport" />
    <result column="dip" jdbcType="VARCHAR" property="dip" />
    <result column="dport" jdbcType="VARCHAR" property="dport" />
    <result column="from" jdbcType="VARCHAR" property="from" />
    <result column="to" jdbcType="VARCHAR" property="to" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
  </resultMap>
  <insert id="insert" parameterType="com.zly.site.model.CompanyEmail">
    insert into email (time, proto, sip, 
      sport, dip, dport, 
      from, to, subject)
    values (#{time,jdbcType=VARCHAR}, #{proto,jdbcType=VARCHAR}, #{sip,jdbcType=VARCHAR}, 
      #{sport,jdbcType=VARCHAR}, #{dip,jdbcType=VARCHAR}, #{dport,jdbcType=VARCHAR}, 
      #{from,jdbcType=VARCHAR}, #{to,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zly.site.model.CompanyEmail">
    insert into email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="time != null">
        time,
      </if>
      <if test="proto != null">
        proto,
      </if>
      <if test="sip != null">
        sip,
      </if>
      <if test="sport != null">
        sport,
      </if>
      <if test="dip != null">
        dip,
      </if>
      <if test="dport != null">
        dport,
      </if>
      <if test="from != null">
        from,
      </if>
      <if test="to != null">
        to,
      </if>
      <if test="subject != null">
        subject,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="proto != null">
        #{proto,jdbcType=VARCHAR},
      </if>
      <if test="sip != null">
        #{sip,jdbcType=VARCHAR},
      </if>
      <if test="sport != null">
        #{sport,jdbcType=VARCHAR},
      </if>
      <if test="dip != null">
        #{dip,jdbcType=VARCHAR},
      </if>
      <if test="dport != null">
        #{dport,jdbcType=VARCHAR},
      </if>
      <if test="from != null">
        #{from,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        #{to,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>