<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zly.site.dao.PostEmailExtMapper">
  <resultMap id="BaseResultMap" type="com.zly.site.model.PostEmail">
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="proto" jdbcType="VARCHAR" property="proto" />
    <result column="sip" jdbcType="VARCHAR" property="sip" />
    <result column="sport" jdbcType="VARCHAR" property="sport" />
    <result column="dip" jdbcType="VARCHAR" property="dip" />
    <result column="dport" jdbcType="VARCHAR" property="dport" />
    <result column="from" jdbcType="VARCHAR" property="from" />
    <result column="to" jdbcType="VARCHAR" property="to" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
  </resultMap>
  <select id="seclectAllList" resultType="java.util.HashMap">
  	select * from post_email;
  </select>
</mapper>